@model DavidSerb.Web.Models.DrugType
@{
    Layout = null;
}

<h1>Edit DrugType</h1>

<fieldset>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(drugType => drugType.DrugTypeId)
        <p>
            @Html.LabelFor(drugType => drugType.DrugTypeName)
            @Html.EditorFor(drugType => drugType.DrugTypeName)
            @Html.ValidationMessageFor(drugType => drugType.DrugTypeName, "", new { style = "color: red" })
        </p>
        <button class="btn btn-primary" type="submit">Save</button>
    }
</fieldset>